body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure full viewport height */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 500px;
    margin: 150px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: linear-gradient(to right, #00d2ff, #f935f9);
    position: relative;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 1s linear infinite;
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

form {
    text-align: center;
}

input[type=text] {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
}

button {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkblue;
}

.container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
